/* collective items*/
    @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Philosopher&display=swap');

    body {
        background-color: rgb(24, 24, 24);
    }

/*navigation*/
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }

    nav a {
        font-family: 'Philosopher', sans-serif;
        font-size: 20px;
        text-decoration: none;
        list-style-type: none;
        color: floralwhite;
        margin: 0;
        padding: 0;
        display: row;
        
    }
    nav li{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    nav a:hover {
        color: rgb(116, 74, 182);
    }
    .ddmenu{
        position: relative;
    }
    button {
        border: none;
        background: transparent;
        background-repeat: no-repeat;
        outline: none;
    }

    .ddmenucontent {
        display: none;
        position: absolute;
        
    }

    .ddmenucontent a {
        display: block;
    }
    .ddmenu:hover .ddmenucontent {
        background: none;
        text-decoration: none;
        display: block;
        color: floralwhite;
        padding-left: 1.4rem;
    }

/*Footer*/
footer {
    font-family: "Philosopher" sans-serif;
    font-size: 18px;
    color: floralwhite;
    display: flex;
    margin: 3px;
    padding: 2px;
}
/*index*/

/*home*/


/*shop*/
/*updates*/
/*contact*/