/* collective items*/
    @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Philosopher&display=swap');

    body {
        background-color: rgb(24, 24, 24);
        color: floralwhite;
        font-size: 18px;
    }
    h1{
        padding-top: 30px;
        text-align: center;
        font-family: 'Berkshire+Swash', sans-serif;
    }
    h2
    {
        text-align: center;
        font-family: 'Berkshire+Swash', sans-serif;
    }
    .centered-text
    {
        text-align: center;
        font-family: 'Berkshire+Swash', sans-serif;
    }
    .v-centered-pic
    {
        vertical-align:middle
    }
    figcaption {
        opacity: 0.3;
        font-style: italic;
    }
    .normal-padding
    {
        padding:20px
    }
    .caption
    {
        opacity: 0.3;
        font-style: normal;
        text-align: center;
    }

    .flex-list
    {
        flex-direction: row;
        display:flex;
        justify-content: space-between; 
        flex-wrap: wrap; 
        align-items: center;
        justify-content: center;
    }

    .flex-list-item
    {
        max-width: 300px;
        padding: 30px;
    }

    .rounded-pic
    {
        border-radius: 50%;
    }

    ul
    {
        padding-inline-start: 0px;
    }


/*navigation*/
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }

    nav a {
        font-family: 'Philosopher', sans-serif;
        font-size: 20px;
        text-decoration: none;
        list-style-type: none;
        color: floralwhite;
        margin: 0;
        padding: 0;
        
    }
    nav li{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    nav a:hover {
        color: #8a66ce;
    }
    .ddmenu{
        position: relative;
    }
    button {
        border: none;
        background: transparent;
        background-repeat: no-repeat;
        outline: none;
    }

    .ddmenucontent {
        display: none;
        position: absolute;
        
    }

    .ddmenucontent a {
        display: block;
    }
    .ddmenu:hover .ddmenucontent {
        background: none;
        text-decoration: none;
        display: block;
    }


/*Footer*/

    .footer {
        font-family: "Philosopher";
        background-color: inherit;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content:center ;
        opacity: 0.8;
    }
    .footer ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        margin-bottom: 0;    
    }
    .footer ul a {
        color: inherit;
        text-decoration: none;
    }
    .footer ul a:hover {
        opacity: 1;
        color: #8a66ce;
    }
    .footer .list1 {
        padding: 1.4rem;
    }
    .footer .list2 {
        padding: 1.4rem;
    }
    .footer .socials {
        padding: 1.4rem;
    }
    .icons a {
        text-decoration: none;
        color: inherit;
        padding: 1.4rem;
    }
/*index*/
.home-page main li {
    display: inline-block;
}

.flex-list-index{
    flex-direction: row;
    display:flex;
    flex-wrap: wrap; 
    justify-items: center;
    justify-content: center;
}

/*login*/
.flex-container {
    width:80%;
    margin-top: 20px;
    position:relative;
}
.wrapper-login-form{
    width: 500px;
    height: 800px;
    display: block;
    font-size: 20px;
}
.form-container {
    width: 500px;
    height: 800px;
    margin-top: 5px;
    padding-top: 20px;
    border-radius: 10px;
    flex-direction: column;
    background: rgb(70, 70, 70);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);  
}
input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #8a66ce;
    opacity: 0.6;
    border-radius: 10px;
    color: floralwhite;
    font-family: 'Philosopher', sans-serif;
}
.wrapper-submit-button input {
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 18px;
    background-color: #8a66ce;
    color: floralwhite;
    font-family: 'Philosopher';
    border-radius: 10px;
}
.wrapper-login-form button {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    background-color: #8a66ce;
    font-size: 18px;
    color: floralwhite;
    border-radius: 10px;
    font-family: 'Philosopher';
}

/*shop*/
.shop-page main li{
    display: inline-block;
    list-style: none;
}
.shop-page figcaption {
    font-size: 20px;
    opacity: 1;
    font-style:normal;
    color: floralwhite;
}

/*mphprop*/
.mphp-page th {
    font-family: "Berkshire+Swash";
    font-size: 25px;
}
.mphp-page td {
    font-family: "Berkshire+Swash";
    font-size: 19px;
}


/*updates*/
.updates-page table {
    font-size: 20px;
}



/*contact*/
.wrapper-contact-form{

    display: block;
    font-size: 20px;

}
.contact-form-container {

    padding: 20px;
    border-radius: 10px;
    background: rgb(70, 70, 70);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    display: grid;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}

.contact-page a:hover{
    color: #8a66ce;
}

.contact-page a{
    color: floralwhite;
}

::placeholder{
    color: floralwhite;
    font-size: 17px;
}
.contact-page select{
    color: floralwhite;
    font-size: 17px;
}
.large-item-wrapper
{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.large-item
{
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
}

.v-bottom-aligned-content
{
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}